#buttons {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav {
    box-shadow: 2px 4px 20px 4px #0B090A !important;
    text-shadow: 2px 2px black;
    background-size: cover;

}

#button-shadow {
    box-shadow: 2px 4px 20px 4px #0B090A !important;
}

#display-movies {
    box-shadow: 2px 4px 20px 4px #0B090A !important;
}

.bg-blue {
    background-color: #5e72e4 !important;
}

#windows-logo {
    font-size: smaller;
}

.del-item{
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}
.change-box {
    height: 284px;
    width: 50%;
}

/*.movie-card{*/
/*    width: 300px;*/
/*}*/
/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');*/

/*:root {*/
/*    --panelBg: rgb(47, 49, 52);*/
/*    --darkBg: rgb(62, 64, 67);*/
/*}*/

/*hr {*/
/*    margin: 0 0 4px 0;*/
/*    border : 0;*/
/*    height: 7px;*/
/*    background-image: linear-gradient(to right, rgb(157, 2, 8), rgb(220, 47, 2), rgb(244, 140, 6));*/

/*}*/
/*body {*/
/*    background-color: #343A40;*/
/*    color: whitesmoke;*/
/*    font-family: 'Aboreto', cursive;*/
/*}*/
/*#container {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*}*/
/*!*.editMovie{*!*/
/*!*    border: 2px solid darkslategrey;*!*/
/*!*    padding: 15px;*!*/
/*!*    border-radius: 5px;*!*/
/*!*    background: var(--panelBg);*!*/
/*!*}*!*/
/*.posters {*/
/*    padding: 10px 20px;*/
/*    margin: 10px;*/
/*    width: 340px;*/
/*    height: auto;*/
/*    border-radius: 5px;*/
/*    background-color: var(--panelBg);*/
/*}*/
/*.row {*/
/*    margin-right: 0!important;*/
/*}*/
/*.grow {*/
/*    transition: all .3s ease-in-out;*/
/*}*/
/*.grow:hover {*/
/*    transform: scale(1.05);*/
/*}*/
/*.title {*/
/*    text-align: center;*/
/*    margin: 0;*/
/*}*/
/*img {*/
/*    width: 300px;*/
/*    height: 445px;*/
/*    padding-right: 5px;*/
/*}*/
/*.underImgContainer {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*}*/
/*.rating {*/
/*    flex-direction: column;*/
/*}*/
/*.director {*/
/*    flex-direction: column;*/
/*}*/
/*.genre {*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*}*/
/*.description {*/
/*    padding: 12px;*/
/*    font-size: 110%;*/

/*}*/
/*.hidden1 {*/
/*    display: none;*/
/*}*/
/*.rightSide {*/
/*    float: right;*/
/*}*/

/*!*.btn {*!*/
/*!*    margin: 10px;*!*/
/*!*    background-color: #09090a;*!*/
/*!*    color: whitesmoke;*!*/
/*!*}*!*/
/*.textBox {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*}*/

/*.select {*/
/*    padding: 0 10px;*/
/*    height: 38px;*/
/*}*/
/*.deleteGroup {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
/*#delete-movie {*/
/*    margin: 0;*/
/*    background-color: rgb(203, 68, 74);*/
/*}*/
/*.icon-info {*/
/*    list-style: none;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: flex-start;*/
/*    margin-top: 20px;*/
/*    padding-right: 10px;*/
/*}*/
/*i {*/
/*    margin-left: 5px;*/
/*    margin-right: 5px;*/
/*}*/
/*!*.followUs {*!*/
/*!*    font-size: 10px;*!*/
/*!*    padding-top: 5px;*!*/
/*!*}*!*/
/*a:hover {*/
/*    color: silver;*/
/*}*/
/*.gradient-border {*/
/*    --borderWidth: 3px;*/
/*    background: #1D1F20;*/
/*    position: relative;*/
/*    border-radius: var(--borderWidth);*/
/*}*/

/*.gradient-border:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: calc(-1 * var(--borderWidth));*/
/*    left: calc(-1 * var(--borderWidth));*/
/*    height: calc(100% + var(--borderWidth) * 2);*/
/*    width: calc(100% + var(--borderWidth) * 2);*/
/*    background: linear-gradient(60deg, #F8F9FA, #E9ECEF, #DEE2E6, #CED4DA, #ADB5BD, #6C757D, #495057, #343A40);*/
/*    border-radius: calc(2 * var(--borderWidth));*/
/*    z-index: -1;*/
/*    animation: animatedgradient 3s ease alternate infinite;*/
/*    background-size: 300% 300%;*/
/*}*/
/*@keyframes animatedgradient {*/
/*    0% {*/
/*        background-position: 0 100%;*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%;*/
/*    }*/
/*    100% {*/
/*        background-position: 0 50%;*/
/*    }*/
/*}*/